/* common start utilizes*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container{
    background: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

  /* --------------
  menu bar :start 
  ----------------*/

header{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #562EFF;;
}
.header-container{
 
    padding: 30px;
    width: 870px;
    background-color: #562EFF;
}
.menu-bar img{
    border-radius: 50%;
    width: 41px;
    height: 51px;

}

.menu-item img{
    width: 51px;
    height: 51px;
    border-radius: 50%;
}
.menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item span{
    display: flex;
    align-items: center;
}

.menu-item span a{
    text-decoration:none ;
    padding:0px 12px ;
    color: #fff;
}

/* top players */
.top-players{
    margin-bottom: 30px;
}
.section-title{
     color:#562EFF;
    font-size: 34px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    background-color: #D1D1D1;
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}



/* ------------
top blogs  style
------- */

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
    border-radius: 15px;
}
.blog-info{
    margin-left: 16px;
    width: 200px;
}
.blog-title{
    font-size: 20px;
    margin-bottom: 3px;
    margin-top: 1px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
    margin-top:3px
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}

/* -----------------
   courses styles
--------------*/
.courses{
  display: grid;
  grid-template-columns: repeat(3,1fr);
 grid-column-gap: 24px;
}
   .course .course-banner img{
       width: 224px;
       height: 104px;
   }
   .course-info{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .fa-star{
       font-size: 12px;
   }
.fa-star.filled{
       color: #FFC014;     
    }   
    .fa-star.empty{
        color:#bbb
    }


    /* ---------------
    responsive design 
    ----------- */

    @media (max-width:993px){
        .header-container{
            width: 600px;
        }
        .container{
            width:100%;
        }
        .players{
            grid-template-columns: repeat(2,1fr);
            
        }
        .player,.blog{
            justify-content: center;
        }
         .section-title{
             text-align: center;
         }
         .courses,.blogs{
            grid-template-columns: repeat(1,1fr);
         }
         .course{
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
         }
       
    }
    /*------------------
     normal android phone 
    -------------- */



    @media (max-width:666px){

        .container{
            width:100%
        }
        .players{
            grid-template-columns: repeat(1,1fr);
            
        }
        .player{
            justify-content: center;
            flex-direction: column;
        }
         .section-title{
             text-align: center;
         }
         .blog{
             flex-direction: column;
             align-items: center;
         }
         .course{
            margin-top: 50px;
         }
         .menu-item,.menu-item span{
             flex-direction: column;
         
         }
         .menu-item{
            margin-left: 12%;
            align-items: flex-start;
             position: relative;
         }
         .order1{
             margin-bottom: 58px;
         }
        .order2{
            position:absolute;
        top: 52px;
        }
    }